<div class="comments-area">
  <h3 class="no-margin-top comments-area__title">Comments</h3>
  <div class="comments-area__list">
    <div class="media comment-item">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag 'avatar-1.png' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
        </p>
        <a href="" class="btn btn-default">Rispondi <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag 'avatar-1.png' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
        </p>
        <a href="" class="btn btn-default">Rispondi <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag 'avatar-1.png' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
        </p>
        <a href="" class="btn btn-default">Rispondi <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <%= image_tag 'avatar-2.png' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Middle aligned media</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
            </p>
            <a href="" class="btn btn-default">Rispondi <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag 'avatar-1.png' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
        </p>
        <a href="" class="btn btn-default">Rispondi <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
