<!-- <div class="wrapper padding-15">
  <div class="media media-dashboard">
    <div class="media-left">
      <%= image_tag img %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= title %>
      </h4>
      <p class="media-description">
        <%= description %>
      </p>
      <a href="<%= link %>" class="media-btn btn btn-success btn-sm">
        <%= btn_text %>
      </a>
    </div>
  </div>
</div> -->
